.sobre {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 30vh;
    gap: 1rem;
    border-radius: 0.4rem;
    background: #eee;

}

.sobre:before {
    display: block;
    content: "";
    background: url("../../assets/login.jpg") no-repeat center center;
    background-size: cover;
}

.sobreInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;
}

.subtitle {

}
