.usuario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.usuarioInfo {
    padding: 2rem;
}

.userInfo h2 {
    padding: 0.4rem;
}

.userInfo p,
.userInfo .btnEdit {
    padding: 0.5rem;
}

.btnLogout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    height: 50%;
    place-self: center end;
}

.btnEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    width: 35%;
    margin: 0.5rem 0;
}

.googleCalendar {
    grid-row: 3;
}
