.wrapper {
    margin-bottom: 1rem;
}

.input {
    display: block;
    border: 1px solid #16181d;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: #ededed;
    transition: 0.2s;
}


.input:hover,
.input:focus {
    outline: none;
    /*border-color: #16181d;*/
    background: #fff;
    box-shadow: 0 0 0 3px #ededed;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
}
